.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 100px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .vantagens {
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .vantagens-bg {
    margin-top: -80px;
  }
  .vantagens h2 {
    margin-left: 18px;
  }
  .itens-vantagens li {
    font-size: 20px;
  }
  .itens-vantagens p {
    font-size: 14px;
    margin-top: 10px;
  }
  li.item1::before {
    content: url(/img/icones/icone\ eletrico.svg);
    padding-right: 10px;
    padding-left: 15px;
    text-align: justify;
  }
  li.item2::before {
    content: url(/img/icones/icone\ corda.svg);
    padding-right: 10px;
    padding-left: 15px;
  }  
  li.item3::before {
    content: url(/img/icones/icone\ folha.svg);
    padding-right: 10px;
    padding-left: 15px;
    margin-top: 250px;
  }  
  li.item4::before {
    content: url(/img/icones/icone\ alvo.svg);
    padding-right: 10px;
    padding-left: 15px;
  }
  li.item5::before {
    content: url(/img/icones/icone\ saude.svg);
    padding-right: 10px;
    padding-left: 15px;
  }
  li.item6::before {
    content: url(/img/icones/icone\ livro.svg);
    padding-right: 10px;
    padding-left: 15px;
  }
}